/*
 * Open DAWS - Open Source Digital Application Wireframing Styleshee* Version 5.4.1
 * Collated by Pete Wailes - pete@seogadget.com / pete@wail.es / @petewailes
 *
 * Includes elements from &| inspired by:
 *
 * * normalize.css by Nicolas Gallagher and Jonathan Neal - http://necolas.github.com/normalize.css/
 * * Foundation by Zurb - http://foundation.zurb.com/
 * * FramelessGrid by Joni Korpi - http://framelessgrid.com/
 * * Baseline CSS by Stéphane Curzi - http://baselinecss.com/
 * * LESSHat by CSS Hat - http://lesshat.com/
*/
/*
Common Mixins
*/
/* Boot up LessHat */
/*
Grid rules & column-widths in variables, in ems
*/
.od-clear {
  clear: both;
}
/*
Resets & normalisation
*/
html,
body,
div,
span,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
dl,
dialog,
dt,
dd,
ol,
ul,
li,
abbr,
acronym,
address,
b,
big,
blockquote,
cite,
code,
del,
dfn,
em,
i,
ins,
kbd,
pre,
q,
samp,
tt,
var,
small,
strong,
sub,
sup,
object,
iframe,
form,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
figure,
menu,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
  white-space: normal;
}
article,
aside,
footer,
header,
nav,
section,
dialog,
figure,
hgroup,
menu {
  display: block;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Deprecated and obsolete elements */
applet,
basefont,
dir,
font,
isindex,
menu,
s,
strike,
u {
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: inherit;
  text-align: left;
  vertical-align: baseline;
  white-space: normal;
}
dir,
menu {
  list-style: none;
}
nobr {
  white-space: normal;
}
blink {
  text-decoration: none;
}
marquee {
  overflow: visible;
}
html {
  font-family: sans-serif;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: white;
  color: #313131;
  font-size: 100%;
  line-height: 1.5;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.62);
}
cite,
dfn,
em,
i {
  font-style: italic;
}
mark {
  background: rgba(255, 255, 0, 0.4);
  padding: 0 .25em;
}
article,
aside,
details,
figcaption,
header,
hgroup,
nav,
figure,
section,
footer {
  display: block;
}
/* Correct 'block' display not defined in IE 8/9 */
audio,
canvas,
video {
  display: inline-block;
}
/* Correct 'inline-block' display not defined in IE 8/9 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/* For debugging */
.test {
  background: #edd;
}
/*
Typography
*/
h1 {
  font-size: 3.75em;
  line-height: 1.2em;
  margin-bottom: 0.4em;
}
h2 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 2.25em;
  line-height: 1.3333333333333333333333333333333em;
  margin-bottom: 0.6667em;
}
h4 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}
h5 {
  font-size: 1.3125em;
  line-height: 1.1428571428571428571428571428571em;
  margin-bottom: 1.1428571428571428em;
}
h6 {
  font-size: 1.125em;
  line-height: 1.3333333333333333333333333333333em;
  margin-bottom: 1.3333333333333333em;
}
p,
ul,
ol,
dl,
dialog,
blockquote,
pre,
code,
address,
td,
th,
label {
  display: block;
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 1.6em;
}
small,
p.small {
  font-size: 80%;
  line-height: 1.2;
  margin: 0;
}
a {
  color: #0049CC;
  text-decoration: none;
  /* Fix outline inconsistency between Chrome and other browsers */
  /* Better outline suppression */
}
a:hover {
  color: #0BCDD9;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: none;
}
a img,
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  text-decoration: none;
}
hr {
  margin: 0 0 1.375em;
  padding: 0;
}
/* Addresses styles set to 'bolder' in Firefox 4+, Safari 5, and Chrome, enforces defaults for other browsers */
b,
strong,
caption,
th,
thead,
dt,
legend {
  font-weight: 700;
}
/* Addresses styling not present in Safari 5 and Chrome, enforces defaults for other browsers */
dfn,
em,
i {
  font-style: italic;
}
var,
address {
  font-style: normal;
}
/* Code */
p code,
p pre,
p var {
  line-height: 1.2000000000000002em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* Lists */
ol,
ul,
dl,
dialog {
  list-style: none;
  list-style-position: inside;
  margin-left: 1.6em;
  padding: 0;
}
ul {
  list-style: disc outside;
}
ol {
  list-style: decimal outside;
}
li {
  font-size: 1em;
  margin-bottom: 1em;
}
li:last-child,
li label {
  margin-bottom: 0;
}
li ul,
li ol {
  margin: 1em 1.6em 0;
}
li ul {
  list-style-type: circle;
}
li ol {
  list-style-type: lower-alpha;
}
dl dd {
  margin-left: 1.6em;
}
nav ul li {
  margin-left: 0;
}
.inline {
  padding: 0;
  list-style-type: none;
  margin-left: 0;
}
.inline li {
  display: block;
  list-style: none;
}
.inline:before,
.inline:after {
  content: " ";
  display: table;
}
.inline:after {
  clear: both;
}
.inline li {
  display: inline-block;
  margin-left: 1em;
}
.inline li:first-child {
  margin-left: 0;
}
.inline li form,
.inline li input {
  margin-bottom: 0;
}
.inline-scroll {
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  list-style-type: none;
  margin-left: 0;
}
.inline-scroll li {
  display: block;
  list-style: none;
}
.inline-scroll:before,
.inline-scroll:after {
  content: " ";
  display: table;
}
.inline-scroll:after {
  clear: both;
}
.inline-scroll li {
  display: inline-block;
  margin-left: 1em;
}
.inline-scroll li:first-child {
  margin-left: 0;
}
.inline-scroll li form,
.inline-scroll li input {
  margin-bottom: 0;
}
.unstyled-list {
  padding: 0;
  list-style-type: none;
  margin-left: 0;
}
.unstyled-list li {
  display: block;
  list-style: none;
}
/* Quotes */
blockquote,
cite,
q {
  font-style: italic
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
blockquote {
  border-left: 3px solid #dfdfdf;
  padding-left: 1.6em;
}
blockquote > p {
  padding: 0;
}
/* Abbreviations */
abbr,
acronym,
dfn {
  font-size: 80%;
  letter-spacing: .1em;
  line-height: 1.2;
  text-transform: uppercase;
}
abbr[title],
acronym[title],
dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}
/* Marks, inserts & deletes */
ins,
mark {
  text-decoration: none;
}
ins {
  color: #f00;
}
del {
  text-decoration: line-through;
}
mark {
  background: #c47529;
  color: #000000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.7em;
}
/* Move superscripted text up */
sub {
  bottom: -0.25em;
}
/* Move subscripted text down */
/* Media */
img,
object,
embed,
video {
  max-width: 100%;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
figure {
  margin: 0;
  max-width: 100%;
}
figure img {
  width: 100%;
}
figure figcaption {
  background: #eee;
  border-left: 5px solid #999;
  margin-bottom: 1.6em;
  padding: .4em .8em;
}
svg:not(:root) {
  overflow: hidden;
}
/* Correct IE9 overflow */
::-moz-selection,
::selection {
  background: #c47529;
  color: #fff;
  text-shadow: none;
}
/*
 * Tables
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.6em;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tfoot {
  display: table-footer-group;
}
tr {
  border-top: 1px solid #dfdfdf;
  display: table-row;
  padding: 0.75em 0;
}
tr:nth-child(odd) td {
  background: #f6f6f6;
}
th,
td {
  display: table-cell;
  overflow: hidden;
  padding: 0.75em;
  table-layout: fixed;
  text-align: left;
}
th {
  background: #888;
  color: #fff;
}
td {
  vertical-align: top;
  word-break: break-word;
  word-wrap: break-word;
}
tfoot tr td {
  font-style: italic;
}
/*
Forms
*/
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background: rgba(240, 240, 240, 0.15);
  border-bottom: 1px solid rgba(210, 210, 210, 0.8);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: rgba(0, 0, 0, 0.3);
  display: block;
  font-size: inherit;
  line-height: 1.35;
  padding: 0.4em;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: rgba(220, 220, 220, 0.3);
  color: rgba(0, 0, 0, 0.8);
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  max-width: 100%;
  padding: 1px 0.25em;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
form {
  margin: 0;
  margin-bottom: 1.6em;
  overflow-x: hidden;
  overflow-y: auto;
}
fieldset {
  border: 0;
  padding: 0;
}
legend {
  *margin-left: -0.75em;
}
input {
  margin: 0;
}
label {
  display: block;
  width: 100%;
}
select {
  background-position: 97% center;
  display: block;
  margin: 0;
  padding: .18em .04em .04em;
}
textarea {
  height: auto;
  min-height: 6em;
  width: 100%;
}
input[type="submit"],
input[type="reset"],
html input[type="button"],
button,
a.button {
  border: 1px solid #b3b3b3;
  background: #b3b3b3;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  line-height: 1.23;
  margin-bottom: 1.6em;
  padding: .5em .8em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
html input[type="button"]:hover,
button:hover,
a.button:hover {
  border-color: #757575;
}
input[type="submit"].palette-firm,
input[type="reset"].palette-firm,
html input[type="button"].palette-firm,
button.palette-firm,
a.button.palette-firm {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
input[type="submit"].palette-firm:hover,
input[type="reset"].palette-firm:hover,
html input[type="button"].palette-firm:hover,
button.palette-firm:hover,
a.button.palette-firm:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
input[type="submit"].palette-success,
input[type="reset"].palette-success,
html input[type="button"].palette-success,
button.palette-success,
a.button.palette-success {
  background-color: #11b452;
  border-color: #11b452;
}
input[type="submit"].palette-success:hover,
input[type="reset"].palette-success:hover,
html input[type="button"].palette-success:hover,
button.palette-success:hover,
a.button.palette-success:hover {
  background-color: #11b452;
  border-color: #11b452;
}
input[type="submit"].palette-info,
input[type="reset"].palette-info,
html input[type="button"].palette-info,
button.palette-info,
a.button.palette-info {
  background-color: #3498db;
  border-color: #3498db;
}
input[type="submit"].palette-info:hover,
input[type="reset"].palette-info:hover,
html input[type="button"].palette-info:hover,
button.palette-info:hover,
a.button.palette-info:hover {
  background-color: #3498db;
  border-color: #3498db;
}
input[type="submit"].palette-warning,
input[type="reset"].palette-warning,
html input[type="button"].palette-warning,
button.palette-warning,
a.button.palette-warning {
  background-color: #f1c40f;
  border-color: #f1c40f;
}
input[type="submit"].palette-warning:hover,
input[type="reset"].palette-warning:hover,
html input[type="button"].palette-warning:hover,
button.palette-warning:hover,
a.button.palette-warning:hover {
  background-color: #f1c40f;
  border-color: #f1c40f;
}
input[type="submit"].palette-danger,
input[type="reset"].palette-danger,
html input[type="button"].palette-danger,
button.palette-danger,
a.button.palette-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
input[type="submit"].palette-danger:hover,
input[type="reset"].palette-danger:hover,
html input[type="button"].palette-danger:hover,
button.palette-danger:hover,
a.button.palette-danger:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
input[type="submit"].palette-night,
input[type="reset"].palette-night,
html input[type="button"].palette-night,
button.palette-night,
a.button.palette-night {
  color: #fff;
  background-color: #34495e;
  border-color: #34495e;
}
input[type="submit"].palette-night:hover,
input[type="reset"].palette-night:hover,
html input[type="button"].palette-night:hover,
button.palette-night:hover,
a.button.palette-night:hover {
  background-color: #34495e;
  border-color: #34495e;
}
input[type="submit"],
input[type="reset"],
html input[type="button"],
button {
  -webkit-appearance: button;
}
@media screen and (min-width: 800px) {
  input[type="submit"],
  input[type="reset"],
  html input[type="button"],
  button,
  a.button {
    line-height: 1.278;
  }
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="file"] {
  width: 100%;
}
.prefix,
.postfix {
  display: block;
  overflow: hidden;
  text-align: center;
}
/*
Addresses styling for 'hidden' attribute not present in IE 8/9
Re-set default cursor for disabled elements
*/
[hidden] {
  display: none;
}
[disabled] {
  cursor: default;
}
:focus {
  outline: 0;
}
.round {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.pill {
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
/*
 Componentry
*/
.row {
  display: block;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row .row {
  width: auto;
}
.row .row.collapse {
  margin: 0;
}
.col-no-gutter {
  float: left;
  min-height: 1px;
  position: relative;
  padding: 0;
}
.col {
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 13px;
  padding-right: 13px;
}
.col-inverse {
  float: right;
  min-height: 1px;
  position: relative;
  padding-left: 13px;
  padding-right: 13px;
}
.col-no-gutter-inverse {
  float: right;
  min-height: 1px;
  position: relative;
  padding-left: 13px;
  padding-right: 13px;
}
.col-inverse-no-gutter.width-1,
.col-inverse.width-1,
.col-no-gutter.width-1,
.col.width-1 {
  width: 8.33333%;
}
.col-inverse-no-gutter.width-2,
.col-inverse.width-2,
.col-no-gutter.width-2,
.col.width-2 {
  width: 16.66667%;
}
.col-inverse-no-gutter.width-3,
.col-inverse.width-3,
.col-no-gutter.width-3,
.col.width-3 {
  width: 25%;
}
.col-inverse-no-gutter.width-4,
.col-inverse.width-4,
.col-no-gutter.width-4,
.col.width-4 {
  width: 33.33333%;
}
.col-inverse-no-gutter.width-5,
.col-inverse.width-5,
.col-no-gutter.width-5,
.col.width-5 {
  width: 41.66667%;
}
.col-inverse-no-gutter.width-6,
.col-inverse.width-6,
.col-no-gutter.width-6,
.col.width-6 {
  width: 50%;
}
.col-inverse-no-gutter.width-7,
.col-inverse.width-7,
.col-no-gutter.width-7,
.col.width-7 {
  width: 58.33333%;
}
.col-inverse-no-gutter.width-8,
.col-inverse.width-8,
.col-no-gutter.width-8,
.col.width-8 {
  width: 66.66667%;
}
.col-inverse-no-gutter.width-9,
.col-inverse.width-9,
.col-no-gutter.width-9,
.col.width-9 {
  width: 75%;
}
.col-inverse-no-gutter.width-10,
.col-inverse.width-10,
.col-no-gutter.width-10,
.col.width-10 {
  width: 83.33333%;
}
.col-inverse-no-gutter.width-11,
.col-inverse.width-11,
.col-no-gutter.width-11,
.col.width-11 {
  width: 91.66667%;
}
.col-inverse-no-gutter.width-12,
.col-inverse.width-12,
.col-no-gutter.width-12,
.col.width-12 {
  width: 100%;
}
.col-inverse-no-gutter.width-13,
.col-inverse.width-13,
.col-no-gutter.width-13,
.col.width-13 {
  width: 108.33333%;
}
.col-inverse-no-gutter.width-14,
.col-inverse.width-14,
.col-no-gutter.width-14,
.col.width-14 {
  width: 116.66667%;
}
.col-inverse-no-gutter.width-15,
.col-inverse.width-15,
.col-no-gutter.width-15,
.col.width-15 {
  width: 125%;
}
.col-inverse-no-gutter.width-16,
.col-inverse.width-16,
.col-no-gutter.width-16,
.col.width-16 {
  width: 133.33333%;
}
.col-inverse-no-gutter.width-17,
.col-inverse.width-17,
.col-no-gutter.width-17,
.col.width-17 {
  width: 141.66667%;
}
.col-inverse-no-gutter.width-18,
.col-inverse.width-18,
.col-no-gutter.width-18,
.col.width-18 {
  width: 150%;
}
.col-inverse-no-gutter.width-19,
.col-inverse.width-19,
.col-no-gutter.width-19,
.col.width-19 {
  width: 158.33333%;
}
.col-inverse-no-gutter.width-20,
.col-inverse.width-20,
.col-no-gutter.width-20,
.col.width-20 {
  width: 166.66667%;
}
.col-inverse-no-gutter.width-21,
.col-inverse.width-21,
.col-no-gutter.width-21,
.col.width-21 {
  width: 175%;
}
.col-inverse-no-gutter.width-22,
.col-inverse.width-22,
.col-no-gutter.width-22,
.col.width-22 {
  width: 183.33333%;
}
.col-inverse-no-gutter.width-23,
.col-inverse.width-23,
.col-no-gutter.width-23,
.col.width-23 {
  width: 191.66667%;
}
.col-inverse-no-gutter.width-24,
.col-inverse.width-24,
.col-no-gutter.width-24,
.col.width-24 {
  width: 200%;
}
.col-inverse-no-gutter.width-offset-0,
.col-inverse.width-offset-0,
.col-no-gutter.width-offset-0,
.col.width-offset-0 {
  margin-left: 0%;
}
.col-inverse-no-gutter.width-offset-1,
.col-inverse.width-offset-1,
.col-no-gutter.width-offset-1,
.col.width-offset-1 {
  margin-left: 8.33333%;
}
.col-inverse-no-gutter.width-offset-2,
.col-inverse.width-offset-2,
.col-no-gutter.width-offset-2,
.col.width-offset-2 {
  margin-left: 16.66667%;
}
.col-inverse-no-gutter.width-offset-3,
.col-inverse.width-offset-3,
.col-no-gutter.width-offset-3,
.col.width-offset-3 {
  margin-left: 25%;
}
.col-inverse-no-gutter.width-offset-4,
.col-inverse.width-offset-4,
.col-no-gutter.width-offset-4,
.col.width-offset-4 {
  margin-left: 33.33333%;
}
.col-inverse-no-gutter.width-offset-5,
.col-inverse.width-offset-5,
.col-no-gutter.width-offset-5,
.col.width-offset-5 {
  margin-left: 41.66667%;
}
.col-inverse-no-gutter.width-offset-6,
.col-inverse.width-offset-6,
.col-no-gutter.width-offset-6,
.col.width-offset-6 {
  margin-left: 50%;
}
.col-inverse-no-gutter.width-offset-7,
.col-inverse.width-offset-7,
.col-no-gutter.width-offset-7,
.col.width-offset-7 {
  margin-left: 58.33333%;
}
.col-inverse-no-gutter.width-offset-8,
.col-inverse.width-offset-8,
.col-no-gutter.width-offset-8,
.col.width-offset-8 {
  margin-left: 66.66667%;
}
.col-inverse-no-gutter.width-offset-9,
.col-inverse.width-offset-9,
.col-no-gutter.width-offset-9,
.col.width-offset-9 {
  margin-left: 75%;
}
.col-inverse-no-gutter.width-offset-10,
.col-inverse.width-offset-10,
.col-no-gutter.width-offset-10,
.col.width-offset-10 {
  margin-left: 83.33333%;
}
.col-inverse-no-gutter.push,
.col-inverse.push,
.col-no-gutter.push,
.col.push {
  right: auto;
}
.col-inverse-no-gutter.pull,
.col-inverse.pull,
.col-no-gutter.pull,
.col.pull {
  left: auto;
}
.col-inverse-no-gutter.push-1,
.col-inverse.push-1,
.col-no-gutter.push-1,
.col.push-1 {
  margin-left: -8.33333%;
  left: 8.33333%;
}
.col-inverse-no-gutter.push-2,
.col-inverse.push-2,
.col-no-gutter.push-2,
.col.push-2 {
  margin-left: -16.66667%;
  left: 16.66667%;
}
.col-inverse-no-gutter.push-3,
.col-inverse.push-3,
.col-no-gutter.push-3,
.col.push-3 {
  margin-left: -25%;
  left: 25%;
}
.col-inverse-no-gutter.push-4,
.col-inverse.push-4,
.col-no-gutter.push-4,
.col.push-4 {
  margin-left: -33.33333%;
  left: 33.33333%;
}
.col-inverse-no-gutter.push-5,
.col-inverse.push-5,
.col-no-gutter.push-5,
.col.push-5 {
  margin-left: -41.66667%;
  left: 41.66667%;
}
.col-inverse-no-gutter.push-6,
.col-inverse.push-6,
.col-no-gutter.push-6,
.col.push-6 {
  margin-left: -50%;
  left: 50%;
}
.col-inverse-no-gutter.push-7,
.col-inverse.push-7,
.col-no-gutter.push-7,
.col.push-7 {
  margin-left: -58.33333%;
  left: 58.33333%;
}
.col-inverse-no-gutter.push-8,
.col-inverse.push-8,
.col-no-gutter.push-8,
.col.push-8 {
  margin-left: -66.66667%;
  left: 66.66667%;
}
.col-inverse-no-gutter.push-9,
.col-inverse.push-9,
.col-no-gutter.push-9,
.col.push-9 {
  margin-left: -75%;
  left: 75%;
}
.col-inverse-no-gutter.push-10,
.col-inverse.push-10,
.col-no-gutter.push-10,
.col.push-10 {
  margin-left: -83.33333%;
  left: 83.33333%;
}
.col-inverse-no-gutter.push-11,
.col-inverse.push-11,
.col-no-gutter.push-11,
.col.push-11 {
  margin-left: -91.66667%;
  left: 91.66667%;
}
.col-inverse-no-gutter.pull-1,
.col-inverse.pull-1,
.col-no-gutter.pull-1,
.col.pull-1 {
  margin-right: -8.33333%;
  right: 8.33333%;
}
.col-inverse-no-gutter.pull-2,
.col-inverse.pull-2,
.col-no-gutter.pull-2,
.col.pull-2 {
  margin-right: -16.66667%;
  right: 16.66667%;
}
.col-inverse-no-gutter.pull-3,
.col-inverse.pull-3,
.col-no-gutter.pull-3,
.col.pull-3 {
  margin-right: -25%;
  right: 25%;
}
.col-inverse-no-gutter.pull-4,
.col-inverse.pull-4,
.col-no-gutter.pull-4,
.col.pull-4 {
  margin-right: -33.33333%;
  right: 33.33333%;
}
.col-inverse-no-gutter.pull-5,
.col-inverse.pull-5,
.col-no-gutter.pull-5,
.col.pull-5 {
  margin-right: -41.66667%;
  right: 41.66667%;
}
.col-inverse-no-gutter.pull-6,
.col-inverse.pull-6,
.col-no-gutter.pull-6,
.col.pull-6 {
  margin-right: -50%;
  right: 50%;
}
.col-inverse-no-gutter.pull-7,
.col-inverse.pull-7,
.col-no-gutter.pull-7,
.col.pull-7 {
  margin-right: -58.33333%;
  right: 58.33333%;
}
.col-inverse-no-gutter.pull-8,
.col-inverse.pull-8,
.col-no-gutter.pull-8,
.col.pull-8 {
  margin-right: -66.66667%;
  right: 66.66667%;
}
.col-inverse-no-gutter.pull-9,
.col-inverse.pull-9,
.col-no-gutter.pull-9,
.col.pull-9 {
  margin-right: -75%;
  right: 75%;
}
.col-inverse-no-gutter.pull-10,
.col-inverse.pull-10,
.col-no-gutter.pull-10,
.col.pull-10 {
  margin-right: -83.33333%;
  right: 83.33333%;
}
.col-inverse-no-gutter.pull-11,
.col-inverse.pull-11,
.col-no-gutter.pull-11,
.col.pull-11 {
  margin-right: -91.66667%;
  right: 91.66667%;
}
.col-inverse-no-gutter.centered,
.col-inverse.centered,
.col-no-gutter.centered,
.col.centered {
  float: none;
  margin: 0 auto;
}
.gutter-top {
  margin-top: 26px;
}
.gutter-right {
  margin-right: 26px;
}
.gutter-bottom {
  margin-bottom: 26px;
}
.gutter-left {
  margin-left: 26px;
}
.gutter {
  margin: 26px;
}
.gutter-horizontal {
  margin-left: 13px;
  margin-right: 13px;
}
.gutter-vertical {
  margin-top: 13px;
  margin-bottom: 13px;
}
.internal-gutter-top {
  padding-top: 26px;
}
.internal-gutter-right {
  padding-right: 26px;
}
.internal-gutter-bottom {
  padding-bottom: 26px;
}
.internal-gutter-left {
  padding-left: 26px;
}
.internal-gutter {
  padding: 26px;
}
.internal-gutter-horizontal {
  padding-left: 13px;
  padding-right: 13px;
}
.internal-gutter-vertical {
  padding-top: 13px;
  padding-bottom: 13px;
}
figure.col {
  padding-left: 0;
}
figure.col-inverse {
  padding-right: 0;
}
/*
 Font Stacks

 Sans font stacks from http://www.awayback.com/revised-font-stack/
 Other types of font stacks from http://cssfontstack.com/
*/
/*
 Boxes
*/
.download-box,
.info-box,
.note-box,
.warning-box {
  clear: both;
  line-height: 1.6em;
  margin: 1em 0px;
  padding: 1em;
}
.box-info {
  background: #c2ddf9;
  border: 1px solid #80bbef;
  color: #4783b7;
}
.box-download {
  background: #d1f7b6;
  border: 1px solid #8bca61;
  color: #5e9537;
}
.box-warning {
  background: #ffcccc;
  border: 1px solid #ff9999;
  color: #c31b00;
}
.box-note {
  background: #fdebae;
  border: 1px solid #e6c555;
  color: #9e660d;
}
.box-red {
  background-color: #cf5e5e;
  -webkit-box-shadow: 1px 1px 1px #af4c4c);;
  -moz-box-shadow: 1px 1px 1px #af4c4c);;
  box-shadow: 1px 1px 1px #af4c4c);;
  color: rgba(255, 255, 255, 0.9);
}
.box-orange {
  background-color: #f27327;
  -webkit-box-shadow: 1px 1px 1px #cc601f);;
  -moz-box-shadow: 1px 1px 1px #cc601f);;
  box-shadow: 1px 1px 1px #cc601f);;
}
.box-yellow {
  background-color: #e1bd14;
  -webkit-box-shadow: 1px 1px 1px #c3a515);;
  -moz-box-shadow: 1px 1px 1px #c3a515);;
  box-shadow: 1px 1px 1px #c3a515);;
}
.box-green {
  background-color: #84b66b;
  -webkit-box-shadow: 1px 1px 1px #64914d);;
  -moz-box-shadow: 1px 1px 1px #64914d);;
  box-shadow: 1px 1px 1px #64914d);;
}
.box-aqua {
  background-color: #6cb6a5;
  -webkit-box-shadow: 1px 1px 1px #5e9d8f);;
  -moz-box-shadow: 1px 1px 1px #5e9d8f);;
  box-shadow: 1px 1px 1px #5e9d8f);;
}
.box-blue {
  background-color: #7aabca;
  -webkit-box-shadow: 1px 1px 1px #52768c);;
  -moz-box-shadow: 1px 1px 1px #52768c);;
  box-shadow: 1px 1px 1px #52768c);;
}
.box-navy {
  background-color: #295f9b;
  -webkit-box-shadow: 1px 1px 1px #2c5b8f);;
  -moz-box-shadow: 1px 1px 1px #2c5b8f);;
  box-shadow: 1px 1px 1px #2c5b8f);;
  color: rgba(255, 255, 255, 0.9);
}
.box-purple {
  background-color: #8174c3;
  -webkit-box-shadow: 1px 1px 1px #6e64a7);;
  -moz-box-shadow: 1px 1px 1px #6e64a7);;
  box-shadow: 1px 1px 1px #6e64a7);;
}
.box-pink {
  background-color: #d69acd;
  -webkit-box-shadow: 1px 1px 1px #b980b0);;
  -moz-box-shadow: 1px 1px 1px #b980b0);;
  box-shadow: 1px 1px 1px #b980b0);;
}
.box-brown {
  background-color: #ae7a53;
  -webkit-box-shadow: 1px 1px 1px #906443);;
  -moz-box-shadow: 1px 1px 1px #906443);;
  box-shadow: 1px 1px 1px #906443);;
}
.box-black {
  background-color: #535353;
  -webkit-box-shadow: 1px 1px 1px #434343);;
  -moz-box-shadow: 1px 1px 1px #434343);;
  box-shadow: 1px 1px 1px #434343);;
  color: rgba(255, 255, 255, 0.9);
}
.box-gray {
  background-color: #aaaaaa;
  -webkit-box-shadow: 1px 1px 1px #8c8c8c);;
  -moz-box-shadow: 1px 1px 1px #8c8c8c);;
  box-shadow: 1px 1px 1px #8c8c8c);;
}
/*
 Colours
*/
.palette-firm {
  background-color: #1abc9c;
}
.palette-firm-dark {
  background-color: #16a085;
}
.palette-success {
  background-color: #2ecc71;
}
.palette-success-dark {
  background-color: #27ad60;
}
.palette-info {
  background-color: #3498db;
}
.palette-info-dark {
  background-color: #2383c4;
}
.palette-warning {
  background-color: #f1c40f;
}
.palette-warning-dark {
  background-color: #cea70c;
}
.palette-danger {
  background-color: #e74c3c;
}
.palette-danger-dark {
  background-color: #dc2d1b;
}
.palette-night {
  background-color: #34495e;
}
.palette-night-dark {
  background-color: #2c3e50;
}
/*
 * Other imports (FontAwesome etc, if used)
*/
/*
 * Theme mixins
*/
/*
 * Compiled overrides
*/
code,
pre,
var,
kbd,
samp {
  font-family: "Andale Mono", "Courier New", Courier, monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dialog,
dl,
table,
blockquote,
figure,
form,
fieldset,
address {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
/*
 * Main classes
*/
/*
 * Size-agnostic layout rules
*/
#siteheader,
#sitefooter {
  display: block;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  padding-left: 13px;
  padding-right: 13px;
}
#siteheader:before,
#sitefooter:before,
#siteheader:after,
#sitefooter:after {
  content: " ";
  display: table;
}
#siteheader:after,
#sitefooter:after {
  clear: both;
}
#siteheader .row,
#sitefooter .row {
  width: auto;
}
#siteheader .row.collapse,
#sitefooter .row.collapse {
  margin: 0;
}
#maincontent {
  display: block;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}
#maincontent:before,
#maincontent:after {
  content: " ";
  display: table;
}
#maincontent:after {
  clear: both;
}
#maincontent .row {
  width: auto;
}
#maincontent .row.collapse {
  margin: 0;
}
#featuresbenefits,
#examples {
  display: block;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}
#featuresbenefits:before,
#examples:before,
#featuresbenefits:after,
#examples:after {
  content: " ";
  display: table;
}
#featuresbenefits:after,
#examples:after {
  clear: both;
}
#featuresbenefits .row,
#examples .row {
  width: auto;
}
#featuresbenefits .row.collapse,
#examples .row.collapse {
  margin: 0;
}
#theory,
#opendawsis,
#opendawsisnt,
#benefits,
#features,
.samplehtml,
.samplecss {
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 13px;
  padding-right: 13px;
}
#forms {
  display: block;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}
#forms:before,
#forms:after {
  content: " ";
  display: table;
}
#forms:after {
  clear: both;
}
#forms .row {
  width: auto;
}
#forms .row.collapse {
  margin: 0;
}
#type,
#elements,
#inputslabels,
#textboxes {
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 13px;
  padding-right: 13px;
}
/*
	Style overrides for IE6-8
	http://jonikorpi.com/leaving-old-IE-behind/
*/
/*
	Small
*/
@media screen and (max-width: 639px) {
  .col.width-1 {
    width: 100%;
  }
  .col.width-2 {
    width: 100%;
  }
  .col.width-3 {
    width: 100%;
  }
  .col.width-4 {
    width: 100%;
  }
  .col.width-5 {
    width: 100%;
  }
  .col.width-6 {
    width: 100%;
  }
  .col.width-7 {
    width: 100%;
  }
  .col.width-8 {
    width: 100%;
  }
  .col.width-9 {
    width: 100%;
  }
  .col.width-10 {
    width: 100%;
  }
  .col.width-11 {
    width: 100%;
  }
  .col.width-12 {
    width: 100%;
  }
  .col.width-13 {
    width: 150%;
  }
  .col.width-14 {
    width: 150%;
  }
  .col.width-15 {
    width: 150%;
  }
  .col.width-16 {
    width: 150%;
  }
  .col.width-17 {
    width: 150%;
  }
  .col.width-18 {
    width: 150%;
  }
  .col.width-19 {
    width: 200%;
  }
  .col.width-20 {
    width: 200%;
  }
  .col.width-21 {
    width: 200%;
  }
  .col.width-22 {
    width: 200%;
  }
  .col.width-23 {
    width: 200%;
  }
  .col.width-24 {
    width: 200%;
  }
  #siteheader,
  #maincontent,
  #forms,
  #sitefooter,
  #examples,
  #featuresbenefits {
    width: 444px;
  }
}
@media screen and (max-width: 799px) {
  body {
    font-size: 0.875em;
  }
}
@media screen and (min-width: 800px) {
  h1:first-child,
  h2:first-child,
  h3:first-child {
    margin-top: 0;
  }
  input[type="submit"],
  input[type="reset"],
  html input[type="button"],
  button,
  a.button {
    line-height: 1.278;
  }
}
@media screen and (min-width: 640px) and (max-width: 799px) {
  #siteheader,
  #maincontent,
  #forms,
  #sitefooter,
  #examples,
  #featuresbenefits {
    width: 592px;
  }
}
/*
	Mid
*/
@media screen and (max-width: 1375px) {
  #basicexample,
  #responsiveexample {
    display: block;
    margin: 0 auto;
    padding: 0;
    *zoom: 1;
  }
  #basicexample:before,
  #responsiveexample:before,
  #basicexample:after,
  #responsiveexample:after {
    content: " ";
    display: table;
  }
  #basicexample:after,
  #responsiveexample:after {
    clear: both;
  }
  #basicexample .row,
  #responsiveexample .row {
    width: auto;
  }
  #basicexample .row.collapse,
  #responsiveexample .row.collapse {
    margin: 0;
  }
}
@media screen and (min-width: 1376px) {
  body {
    font-size: 1.125em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  #siteheader,
  #maincontent,
  #forms,
  #sitefooter,
  #examples,
  #featuresbenefits {
    width: 740px;
  }
  #benefits,
  #features,
  .samplehtml,
  .samplecss {
    width: 370px;
  }
  #elements,
  #type,
  #inputslabels,
  #textboxes {
    width: 370px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1375px) {
  #siteheader,
  #maincontent,
  #forms,
  #sitefooter,
  #examples,
  #featuresbenefits {
    width: 1036px;
  }
  #opendawsis,
  #opendawsisnt,
  #benefits,
  #features,
  .samplehtml,
  .samplecss {
    width: 518px;
  }
  #elements,
  #type,
  #inputslabels,
  #textboxes {
    width: 518px;
  }
}
/*
	Large
*/
@media screen and (min-width: 1376px) and (max-width: 1839px) {
  #siteheader,
  #maincontent,
  #forms,
  #sitefooter,
  #examples,
  #featuresbenefits {
    width: 1332px;
  }
  #theory,
  #opendawsis,
  #opendawsisnt {
    width: 444px;
  }
  #benefits,
  #features {
    width: 666px;
  }
  #basicexample,
  #responsiveexample {
    float: left;
    min-height: 1px;
    position: relative;
    padding-left: 13px;
    padding-right: 13px;
    width: 666px;
  }
  .samplehtml,
  .samplecss {
    width: 333px;
  }
  #elements,
  #type,
  #inputslabels,
  #textboxes {
    width: 666px;
  }
}
@media screen and (min-width: 1840px) {
  #siteheader,
  #maincontent,
  #forms,
  #sitefooter,
  #examples,
  #featuresbenefits {
    width: 1924px;
  }
  #theory,
  #opendawsis,
  #opendawsisnt {
    width: 641.33284px;
  }
  #benefits,
  #features {
    width: 962px;
  }
  #basicexample,
  #responsiveexample {
    float: left;
    min-height: 1px;
    position: relative;
    width: 962px;
  }
  .samplehtml,
  .samplecss {
    width: 481px;
  }
  #elements,
  #type,
  #inputslabels,
  #textboxes {
    width: 962px;
  }
}
